<div class="container">
	<h2>Albums: </h2>
	<%@albums.each do |album|%>
	<div>
	<li>
		<a href='/album/<%=album.id%>'><%=album.name%></a>
	</div>
	<br>
</li>
<%end%>       

<h2>Users: </h2>

<%@users.each do |user|%>
<li><div>
	<a href='/user/<%=user.id%>/albums'><%=user.first_name%></a>
</div>
<br>
</li>
<%end%>               


</div>
