<form action="/photo_upload" method='post' enctype="multipart/form-data">
  <input type="file" name="photo">
<input type="text" name="photo_name" placeholder='Picture Title'>
  <input type='text' name='album' placeholder='Album Name'>
  <input type="submit" name="submit" value="Upload">
</form>
